.jumbotron {
    background-color:#BEED9C;
    color: black;
    margin-top: 50px;
}

.btn {
    background-color:#97CD71;
}
.btn-reserva {
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: #BEED9C;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-emmanuell {
    flex: 1 250px;
   
    margin-top: 20px;
}

.footer-adderess-icon{
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.carousel-inner img {
    width: 80%;
    max-height: 600px;
}