$green:#abdda5;
$red:#f5bcc0;
$yellow: #e6e913;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $bottom, $left, $right){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;

}
@mixin colores($background-color){
    background-color: $background-color;
    
}

.jumbotron {
    @include colores($green);
   
    color: black;
    @include margenes(50px, 0px);
}

.btn {
    @include colores($red);
  
}
.btn-reserva {
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0px;
}

.footer {

    @include paddings(10px, 10px, 0px, 10px);
    @include colores($yellow);
    @include margenes(20px, 0px);
    
}

.card-emmanuell {
    flex: 1 250px;
   
    @include margenes(20px, 0px);
}

.footer-adderess-icon{
    @include paddings(10px, 0px, 0px, 10px);
   
}

.tab-content {
    @include paddings(10px, 0px, 0px, 0px);
   
}

.carousel-inner img {
    width: 80%;
    max-height: 600px;
}