.jumbotron {
  background-color: #abdda5;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

.btn {
  background-color: #f5bcc0;
}

.btn-reserva {
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 0px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
  background-color: #e6e913;
  margin-top: 20px;
  margin-bottom: 0px;
}

.card-emmanuell {
  flex: 1 250px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer-adderess-icon {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.carousel-inner img {
  width: 80%;
  max-height: 600px;
}

/*# sourceMappingURL=styles.css.map */
