@green:#9ac495;
@red:#f5bcc0;
@yellow: #f3f59f;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top: 0px, @bottom: 0px, @left: 0px, @right: 0px){
    padding-top: @top;
    padding-bottom: @bottom;
    padding-left: @left;
    padding-right: @right;

}
.colores(@background-color){
    background-color: @background-color;
    
}

.jumbotron {
    .colores(@green);
   
    color: black;
    .margenes(50px, 0px)
}

.btn {
   .colores(@red)
  
}
.btn-reserva {
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0px;
}

.footer {

    .paddings(10px, 10px, 0px, 10px);
    .colores(@yellow);
    .margenes(20px, 0px)
    
}

.card-emmanuell {
    flex: 1 250px;
   
    .margenes(20px, 0px)
}

.footer-adderess-icon{
    .paddings(10px, 0px, 0px, 10px)
   
}

.tab-content {
    .paddings(10px, 0px, 0px, 0px)
   
}

.carousel-inner img {
    width: 80%;
    max-height: 600px;
}